h1 { 
    background-color: rgb(49, 37, 37);
    color: white;
    text-align: left;
    font-size: 40px;
    font-family: "Comic Sans MS";
}

span {
    color:rgb(72, 217, 247);
}


.purple {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font-size: 30px;
}


#blue {
    background-color: rgb(72, 217, 247);
    color: black;
    text-align: right;
    text-decoration: underline;
    font-size: 20px;
}


